// @media 1200 and ( max-width: 1200px  )
//   .workspace
//     max-width: 960px

@media (max-width: 1200px)
  .workspace
    max-width: 960px

@media (max-width: 992px)
  .workspace
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &_search
      margin-left: auto
      
    &-menu
      padding: 22px 0
      &_link
        font-size: 12px
        line-height: 15px
  .search
    &_input
      width: 340px
@media (max-width: 768px)
  .workspace
    max-width: 700px
    width: 92%

 

        
@media  ( max-width: 680px )
  .navbar
    &_search, &-menu, &_user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      border: none
      cursor: pointer
      align-items: center
      justify-content: space-between
      flex-direction: column
      &_line
        width: 16px
        height: 1px
        background-color: #333333
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    // &-description
    //   margin: 0

    &-info
      &_text
        width: 100%
      &_name
        margin-top: 10px
        margin-bottom: 0
      &_rating
        display: none
      &_offer
        order: -1
        margin-left: 0
      


    
  .logo
    width: 99px
  
  

